<side-nav>
   <!--title bar with pic-->
   <div class="page-header">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="page-caption">
                <h1 class="page-title"></h1>
              </div>
            </div>
        </div>
    </div>
  </div>
  <main>
    <mat-grid-list cols="1" rowsHeight="1:1">
      <div class="content" fxLayout="row wrap">



        <div class="wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-card class="form-card mat-elevation-z10">
            <mat-card-header>
              <mat-card-title>
                Test Centre Profile
              </mat-card-title>
              <div fxFlex></div>
              <div class="header-button-group">
                 <a routerLink="/test-centre-profile/form"><span class="material-icons">create</span></a>
              </div>

              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>

            <mat-card-content>
              <div *ngIf="mode=='new'" id="noEntryMessage">
                Test centre not found. Click <a routerLink="/test-centre-profile/form">here</a> to set up test centre.
              </div>

              <div *ngIf="mode!='new'" fxLayout="row wrap">
                 <div class="cell" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="0%">
                   <div class="cell-header">
                     TCID
                   </div>
                   <div class="cell-body">
                     {{currentTestCentre.id}}
                   </div>
                 </div>

                 <div class="cell" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">
                   <div class="cell-header">
                     Manager
                   </div>
                   <div class="cell-body">
                     {{currentTestCentre.officer}}
                   </div>
                 </div>

                 <div class="cell" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">
                   <div class="cell-header">
                     Contact
                   </div>
                   <div class="cell-body">
                     {{currentTestCentre.contact}}
                   </div>
                 </div>

                 <div class="cell" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">
                   <div class="cell-header">
                     State
                   </div>
                   <div class="cell-body">
                     {{currentTestCentre.state}}
                   </div>
                 </div>

                 <div class="cell" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%">
                   <div class="cell-header">
                     Address
                   </div>
                   <div class="cell-body">
                     {{currentTestCentre.address}}
                   </div>
                 </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>



      </div>
    </mat-grid-list>
  </main>
</side-nav>
