<mat-card class="form-card mat-elevation-z10">
  <mat-card-header>
    <mat-card-title>Test Centre Profile</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>

  <mat-card-content>
    <div fxLayout="row wrap">
       <div class="cell" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
         <div class="cell-header">
           TCID
         </div>
         <div class="cell-body">
           body
         </div>
       </div>

       <div class="cell" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
         <div class="cell-header">
           Responsible Officer
         </div>
         <div class="cell-body">
           body
         </div>
       </div>

       <div class="cell" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
         <div class="cell-header">
           Contact
         </div>
         <div class="cell-body">
           body
         </div>
       </div>

       <div class="cell" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
         <div class="cell-header">
           State
         </div>
         <div class="cell-body">
           body
         </div>
       </div>

       <div class="cell" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
         <div class="cell-header">
           Address
         </div>
         <div class="cell-body">
           body
         </div>
       </div>
    </div>



  </mat-card-content>
</mat-card>
