<div class="wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card class="form-card mat-elevation-z10">
    <mat-card-header>
      <mat-card-title>
        Test Centre Profile
      </mat-card-title>
      <div fxFlex></div>
      <div class="header-button-group">
         <a routerLink="/test-centre-form"><span class="material-icons">create</span></a>
      </div>

      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="mode=='new'" id="noEntryMessage">
        Test centre not found. Click <a routerLink="/test-centre-form">here</a> to set up test centre.
      </div>

      <div fxLayout="row wrap">
         <div class="cell" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="0%">
           <div class="cell-header">
             TCID
           </div>
           <div class="cell-body">
             {{currentTestCentre.id}}
           </div>
         </div>

         <div class="cell" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">
           <div class="cell-header">
             Manager
           </div>
           <div class="cell-body">
             {{currentTestCentre.officer}}
           </div>
         </div>

         <div class="cell" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">
           <div class="cell-header">
             Contact
           </div>
           <div class="cell-body">
             {{currentTestCentre.contact}}
           </div>
         </div>

         <div class="cell" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">
           <div class="cell-header">
             State
           </div>
           <div class="cell-body">
             {{currentTestCentre.state}}
           </div>
         </div>

         <div class="cell" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%">
           <div class="cell-header">
             Address
           </div>
           <div class="cell-body">
             {{currentTestCentre.address}}
           </div>
         </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
