.example-spacer {
  flex: 1 1 auto;
}

.logo_icon{
  font-style: italic;
  font-family:"Trebuchet MS";
}




.toolbar-spacer{
  flex: 1 1 auto;
}

.mat-grid-tile-footer div{
  margin: auto;
}
.mat-grid-tile .mat-grid-tile-header>*, .mat-grid-tile .mat-grid-tile-footer>* {
        padding: 0;
        font-weight: normal;
        font-size: inherit;
    }


.bg{
  background-image: url("../../assets/image/frontliner_black.png");
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-attachment: local;
  background-size: cover;
}

.header-title{
  color: white;
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 0.5rem;
}

.header-subtitle{
  color: white;
  padding-top: 1rem;
  font-size: 250%;
  font-weight: 300;
}

.header-caption{
  color: white;
  font-size: 130%;
  font-weight: 200;

}

.header-words{
  text-align: center;
}

.home_footer{
  background-color: #A5C5C3;
  padding-top: 2em;

}


.footer_btm{
  text-align: center;
  color: #000;
  font-style: italic;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  /*#527c88*/
}

.footer_link{
  text-decoration: none;
  color:#373737;
}

.footer_link:hover {
  color: #6a6d70;
}


.home-card {
  margin: 2em;
  padding-bottom: 2em;
}

.home-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card-button{
  text-align: center;
}

.text-justify{
  text-align: justify;
}

.element-center{
  text-align: center;
}

.font_prevent{
  color: #439F9E;
  font-style: italic;
  font-weight: bold;
  font-family: "Trebuchet MS";
  font-size: 200%;
  padding-top: 1em;
}

.center-image{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.img-size{
  max-width: 100%;
  height: auto;
}

.content{
  padding-left: 3em;
  margin-bottom: 3em;
}
.content > mat-card {
  min-width: 48em;
}

.hr_line{
  width:16%;
  color: #439F9E;
  background-color:#439F9E;
}

@media (max-width: 991.98px) {
  .header-title{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 0.5rem;
  }

  .header-subtitle{
    padding-top: 1rem;
    font-size: 250%;
    font-weight: 300;
  }

  .header-caption{
    font-size: 130%;
    font-weight: 200;

  }
}





@media (max-width:768px){
  .header-title{
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 0.5rem;
  }

  .header-subtitle{
    padding-top: 1rem;
    font-size: 150%;
    font-weight: 300;
  }

  .header-caption{
    font-size: 80%;
    font-weight: 200;
    /*display: none;*/

  }
}

@media (max-width:576px){
  .header-title{
    font-size: 150%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 0rem;
    display: none;
  }

  .header-subtitle{
    padding-top: -5em;
    font-size: 120%;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
    font-style: italic;
  }

  .header-caption{
    font-size: 60%;
    font-weight: 200;
    display: none;

  }

  .bg{
    background-position: 50% 50%;
  }

  .content > mat-card {
    min-width: 12em;
  }

  .font_prevent{
    font-size: 120%;
  }

  .hr_line{
    margin-top: -1em;
  }

}
