<!-- Navbar-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>CITS</span>
    <span class="toolbar-spacer"></span>

    <button mat-button>
      Sign up
    </button>

    <button mat-button>
      Login
    </button>

    <button mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
    </button>


  </mat-toolbar-row>
</mat-toolbar>

<header>
  <mat-grid-list cols="1" rowHeight="600px" class="bg">

    <mat-grid-tile>
      <div class="header-words">
        <h1 class="header-title">CTIS</h1>
        <h3 class="header-subtitle">Covid Testing Infomartion System</h3>
        <h4 class="header-caption">Book a covid screening test with us!</h4>
        <button mat-raised-button color="primary">
          Book Now
        </button>
      </div>




      <mat-grid-tile-footer>
        <div>
          footer
        </div>
      </mat-grid-tile-footer>
    </mat-grid-tile>

  </mat-grid-list>
</header>

<mat-grid-list cols="1" rowHeight="600px">


</mat-grid-list>
