<!-- Navbar-->

<mat-toolbar [ngStyle]="{background:'#439F9E' , color:'#fff'}">
  <mat-toolbar-row>
    <!--
    <button mat-icon-button>
      <mat-icon (click)="drawer.toggle()" aria-hidden="true" aria-label="homeicon">menu</mat-icon>
    </button>
    -->
    <span class="logo_icon"><i class="fas fa-heartbeat"></i> CITS</span>

    <span class="toolbar-spacer"></span>

    <button mat-button routerLink="/signup">
      <i class="fas fa-user-plus"></i> Sign Up
    </button>

    <button mat-button routerLink="/login">
      <i class="fas fa-sign-in-alt"></i> Login
    </button>




  </mat-toolbar-row>
</mat-toolbar>

<header>
  <mat-grid-list cols="1" rowHeight="22:10" class="bg">

    <mat-grid-tile>
      <div class="header-words">
        <h1 class="header-title">CTIS</h1>
        <h3 class="header-subtitle">Covid Testing Infomartion System</h3>
        <h4 class="header-caption">Get yourself a covid screening test with us!</h4>
        <button mat-raised-button [ngStyle]="{background:'#439F9E' , color:'#fff'}">
          Book Now
        </button>
      </div>

      <mat-grid-tile-footer>
        <div>
          Protect Yourself and Your Loved Ones from COVID-19.
          <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/question-and-answers-hub/q-a-detail/q-a-on-covid-19-and-masks"
            mat-stroked-button [ngStyle]="{color:'#439F9E'}">
            Learn More
          </a>
        </div>
      </mat-grid-tile-footer>
    </mat-grid-tile>

  </mat-grid-list>
</header>
<main>
  <div>
    <mat-divider></mat-divider>
    <div class="center-image">
      <h1 class="font_prevent">OUR SERVICES </h1>
      <hr class="hr_line">
    </div>
  <mat-grid-list cols="1" rowHeight="1:1">

  <div class="content" fxLayout="row wrap">
    <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="30%">
      <mat-card class="home-card mat-elevation-z4">

        <img mat-card-image src="../../assets/image/covidtest.jpg" alt="Covid Test Image">
        <mat-card-content>
          <h1>Covid Screening Test</h1>
          <p class="text-justify">
            CTIS is offering COVID-19 nasal and throat swab test at RM250 for self-paying patients.
            Appointment must be made at least 24 hours prior to the test date. Result will be made available within 24 - 72 hours.
            All tests will be conducted in-house at CTIS Test Centre.
          </p>

        </mat-card-content>

        <mat-card-actions>
          <div class="card-button">
            <a mat-raised-button [ngStyle]="{background:'#439F9E' , color:'#fff'}">Book Appointment</a>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

      <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="30%">
        <mat-card class="home-card mat-elevation-z4" >
          <img mat-card-image src="../../assets/image/drivethrutest.jpg" alt="Covid Test Image">
          <mat-card-content>
            <h1>Drive-Thru Screening Services</h1>
            <p class="text-justify">
              CITS is providing COVID-19 Drive-Thru Screening Services. All screening services is available by appointments only.
              Appointment must be made at least 24 hours prior to the test date. Result will be made available within 24 - 72 hours.
              All tests will be conducted drive-Thru at CTIS Test Centre.
            </p>

          </mat-card-content>

          <mat-card-actions>
            <div class="card-button">
              <a mat-raised-button [ngStyle]="{background:'#439F9E' , color:'#fff'}">Book Appointment</a>
            </div>
          </mat-card-actions>

        </mat-card>
        </div>

        <div fxFlex="32%" fxFlex.xs="100%" fxFlex.sm="30%">
          <mat-card class="home-card mat-elevation-z4">

            <img mat-card-image src="../../assets/image/covidadvise.jpg" alt="Covid Advise">
            <mat-card-content>
              <h1>Covid-19 prevention advisory</h1>
              <p class="text-justify">
                Protect yourself and others from COVID-19.
                Learn when and how you should wear a mask, what type of masks is recommended.
                CTIS provides guidance and resources for employers and workers on the control and prevention of COVID-19.
                Find out more about the coronavirus with us.
              </p>

            </mat-card-content>

            <mat-card-actions>
              <div class="card-button">
                <a mat-raised-button [ngStyle]="{background:'#439F9E' , color:'#fff'}">Learn More</a>
              </div>


            </mat-card-actions>

          </mat-card>
        </div>


  </div>
</mat-grid-list>
</div>

<mat-divider></mat-divider>
<mat-grid-list cols="1">

    <div class="center-image">
      <h1 class="font_prevent">BASIC PREVENTION</h1>
      <hr class="hr_line">
      <img src="../../assets/image/advise_banner.jpg" class="img-size">
    </div>




</mat-grid-list>
</main>
  <footer class="home_footer">
    <div class="content" fxLayout="row wrap">
      <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="30%">
        <mat-list role="list">
          <h1 mat-title>Our Sevices</h1>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><a href="#" class="footer_link">Covid Screening Test Sevices</a></mat-list-item>
          <mat-list-item role="listitem"><a href="#" class="footer_link">Drive-Thru Screening Sevices</a></mat-list-item>
          <mat-list-item role="listitem"><a href="#" class="footer_link">Covid-19 prevention advisory</a></mat-list-item>
        </mat-list>

      </div>

      <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="30%">

        <mat-list role="list">
          <h1 mat-title>Our facilities</h1>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><a href="#" class="footer_link">Test Centre</a></mat-list-item>
          <mat-list-item role="listitem"><a href="#" class="footer_link">CTS Office</a></mat-list-item>
          <mat-list-item role="listitem"><a href="#" class="footer_link">CTS laboratory</a></mat-list-item>
        </mat-list>
      </div>

      <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="30%">
        <mat-list role="list">
          <h1 mat-title>About Us</h1>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><a href="#" class="footer_link">Vision & Mission</a></mat-list-item>
          <mat-list-item role="listitem"><a href="#" class="footer_link">Social Media</a></mat-list-item>
          <mat-list-item role="listitem"><a href="#" class="footer_link">Contact Us</a></mat-list-item>
        </mat-list>
      </div>
    </div>
    <mat-grid-list cols="1" rowHeight="5em">
      <mat-grid-tile>
        <mat-grid-tile-footer>
          <div class="footer_btm" mat-small>
            &copy; Team J&K | CITS 2020
          </div>

        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>


  </footer>
