<side-nav>
   <!--title bar with pic-->
   <div class="page-header">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="page-caption">
                <h1 class="page-title"></h1>
              </div>
            </div>
        </div>
    </div>
  </div>
  <main>
    <mat-grid-list cols="1" rowsHeight="1:1">
      <div class="content" fxLayout="row wrap">



        <div class="wrapper" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-card class="form-card mat-elevation-z10">
            <mat-card-header>
              <mat-card-title>Manage Test Centre Officer</mat-card-title>
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
              <div fxFlex></div>
              <div  *ngIf="mode=='exist'" class="searchbar">
                <input #searchbar matInput (keyup)="applyFilter($event)" placeholder="search" type="text" >
              </div>
              <div *ngIf="mode=='exist'" class="searchicon">
                <span (click)="searchClickedHandler()" class="material-icons">{{search ? 'close' : 'search' }}</span>
              </div>
              <div *ngIf="mode!='new'" class="header-button-group">
                 <a routerLink="/tester-management-table/form"><span class="material-icons">add</span></a>
              </div>

            </mat-card-header>

            <mat-card-content>
              <div *ngIf="mode=='new' && !retrievingTestCentre && !retrievingTester" id="noEntryMessage">
                Test centre not found. Click <a routerLink="/test-centre-table/form">here</a> to set up test centre.
              </div>
              <div *ngIf="mode=='empty' && !retrievingTestCentre && !retrievingTester" id="noEntryMessage">
                No test centre officer recorded. Click <a routerLink="/tester-management-table/form">here</a> to add new test centre officer.
              </div>
              <div class="retrievingTestCentre || !retrievingTestCentre && retrievingTester">
                <mat-spinner *ngIf="retrievingTestCentre"  [diameter]="18" style="margin: 2em auto 1em auto"></mat-spinner>
              </div>

              <div *ngIf="mode=='exist' && !retrievingTestCentre && !retrievingTester" class="table-container mat-elevation-z0">
                <table mat-table [dataSource]="dataSource">

                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let tester"> {{tester._id}} </td>
                  </ng-container>

                  

                  <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let tester"> {{tester.username}} </td>
                  </ng-container>

                  <ng-container matColumnDef="password">
                    <th mat-header-cell *matHeaderCellDef> Password </th>
                    <td mat-cell *matCellDef="let tester"> {{tester.password}} </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let tester" >
                      <span (click)="editClickedHandler(tester)" class="material-icons">create</span>
                      <span (click)="deleteClickedHandler(tester)"class="material-icons">delete</span>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </mat-card-content>
          </mat-card>
        </div>



      </div>
    </mat-grid-list>
  </main>
</side-nav>
