.form-card{
  margin: auto;
  margin: 20%;
  padding: 2%;
}

mat-card-content{

}

mat-card-header{
  padding-bottom: 2%;
}
mat-form-field{
 width: 100%;
}

.form-button-group{
  text-align: right;
}
