<mat-card mat-elevation-z4 class="card-form">

  <mat-card-header>
    <mat-card-title>
      New Test Result
    </mat-card-title>

    <mat-card-subtitle>
      Enter new test record.
    </mat-card-subtitle>
  </mat-card-header>



  <mat-card-content>
    <form [formGroup]="testForm">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter Username">

      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Patient Type</mat-label>
        <mat-select>
          <mat-option value="Refurnee">Refurnee</mat-option>
          <mat-option value="Quarantined">Quarantined</mat-option>
          <mat-option value="Close contact">Close contact</mat-option>
          <mat-option value="Infected">Infected</mat-option>
          <mat-option value="Suspected">Suspected</mat-option>
        </mat-select>

      </mat-form-field>
    </form>

  </mat-card-content>

</mat-card>

