
<div class="centre">
<mat-card mat-elevation-z8 class="card-form">

  <mat-card-header>
    <mat-card-title>
      New Test Result
    </mat-card-title>

    <mat-card-subtitle>
      Please enter the detail for new test result.
    </mat-card-subtitle>
  </mat-card-header>



  <mat-card-content>

    <form [formGroup]="testForm">
      <div class="content" fxLayout="row wrap">
      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter Username">

      </mat-form-field>
    </div>

      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-form-field appearance="outline">
        <mat-label>Patient Type</mat-label>
        <mat-select>
          <mat-option value="Refurnee">Refurnee</mat-option>
          <mat-option value="Quarantined">Quarantined</mat-option>
          <mat-option value="Close contact">Close contact</mat-option>
          <mat-option value="Infected">Infected</mat-option>
          <mat-option value="Suspected">Suspected</mat-option>
        </mat-select>

      </mat-form-field>
      </div>

      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">

      <mat-label>Symptoms:</mat-label>
      <section class="symptoms-section">
        <mat-checkbox [formControl] class="symptoms-margin" [(ngModel)] ="fever">Fever</mat-checkbox>
        <mat-checkbox [formControl] class="symptoms-margin" [(ngModel)] ="soreThroat">Sore Throat</mat-checkbox>
        <mat-checkbox [formControl] class="symptoms-margin" [(ngModel)] ="cough">Cough</mat-checkbox>
        <mat-checkbox [formControl] class="symptoms-margin" [(ngModel)] ="shortnessOfBreath">Shortness of breath</mat-checkbox>
      </section>



      <section class="symptoms-section">
        <mat-form-field class="symptoms-margin">
          <mat-label>Other Symptoms:</mat-label>
          <input matInput placeholder="Enter Username">
        </mat-form-field>
      </section>
    </div>

    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div class="form-button-group" fxFlex="100%">
    <button mat-raised-button [ngStyle]="{background:'#439F9E' , color:'#fff'}">
      Submit
    </button>
  </div>

    </div>
    </form>

  </mat-card-content>

</mat-card>
</div>
